{
    "node_name": "{{ ansible_hostname }}",
    "datacenter": "dc1",
    "data_dir": "{{ consul_data_path  }}",
    "advertise_addr": "{{ consul_advertise_address }}",
    
    {% if (item.config_version == 'server') or (item.config_version == 'bootstrap') %}
    "server": true,
    "bootstrap_expect": {{ consul_lan_servercount }},
    "bind_addr": "{{ consul_bind_address }}",
    "client_addr": "0.0.0.0",
    {% endif %}

    {% if (item.config_version == 'client') %}
    "server": false,
    "client_addr": "127.0.0.1",    
    {% endif %}

    {## Ports Used ##}
    "ports": {
        {% if consul_version is version_compare('0.8.0', '<') %}
        "rpc": {{ consul_ports.rpc}},
        {% endif %}
        "dns": {{ consul_ports.dns }},
        "http": {{ consul_ports.http }},
        "https": {{ consul_ports.https }},
        "serf_lan": {{ consul_ports.serf_lan }},
        "serf_wan": {{ consul_ports.serf_wan }},
        "server": {{ consul_ports.server }}
    },

    {## Encryption and TLS ##}
    "encrypt": "{{ consul_raw_key }}",
    "ca_file": "{{ consul_tls_path }}/{{ consul_tls_ca_crt }}",
    "cert_file": "{{ consul_tls_path }}/{{ consul_tls_server_crt }}",
    "key_file": "{{ consul_tls_path }}/{{ consul_server_key }}",
    "verify_incoming": {{ consul_tls_verify_incoming | bool | to_json }},
    "verify_outgoing": {{ consul_tls_verify_outgoing | bool | to_json }},
    "verify_server_hostname": {{ consul_tls_verify_server_hostname | bool | to_json }},
  
    "retry_join":
      {% for server in consul_lan_servers %}
      {%   set _ = consul_join.append(hostvars[server]['consul_advertise_address'] | default(hostvars[server]['consul_bind_address'])) %}
      {% endfor %}
      {{ consul_join | map('ipwrap') | list | to_json }},
    "ui": true,
    "log_level": "DEBUG",
    "enable_syslog": true,
    "acl_enforce_version_8": false
  }